In [5]:
import pandas as pd
import numpy as np

In [6]:
tucarro_df = pd.read_csv('tucarro_data.csv')

In [7]:
carroya_df = pd.read_csv('carroya_data.csv', sep=';')

In [8]:
tucarro_df.head()

,Titulo,Marca,Modelo,Ano,Color,Tipo de combustible,Puertas,Transmision,Motor,Tipo de carroceria,Kilometros,Img,Precio
0,Vendo - Automovil Antiguo Dodge Desoto 1938 - ...,Dodge,dodge desoto D8,1938.0,NaN,Gasolina,4.0,Mecánica,NaN,Sedán,100000 km,https://http2.mlstatic.com/D_NQ_NP_646157-MCO4...,70.000.000
1,Jeep Willys Cj 2a 1946 Cj2a,Jeep,Willys,1946.0,BEIGE BLANCO,Gasolina,2.0,Mecánica,2200,NaN,100000 km,https://http2.mlstatic.com/D_NQ_NP_719379-MCO4...,40.000.000
2,Jeep Cj3a Cj3a,Willys,willys Cj3a,1950.0,NaN,Gasolina,3.0,Mecánica,NaN,NaN,123 km,https://http2.mlstatic.com/D_NQ_NP_820535-MCO4...,30.000.000
3,Jeep Willys Cj3a,Jeep,Willys,1951.0,NaN,Gasolina,2.0,Mecánica,NaN,NaN,3000 km,https://http2.mlstatic.com/D_NQ_NP_758316-MCO4...,43.000.000
4,Ford F100,Ford,F-100,1952.0,Gris,Gasolina,2.0,Mecánica,1500,Pick-Up,125000 km,https://http2.mlstatic.com/D_NQ_NP_814571-MCO4...,26.000.000

In [9]:
carroya_df.head()

,Unnamed: 0,NOMBRE,SUBTITULO,PRECIO,PRECIO MENSUAL,KILOMETRAJE,ANIO,TIPO DE CAJA,CILINDRAJE,COMBUSTIBLE,COLOR,ESTADO,UBICACIÓN,DIRECCIÓN,PLACA,PUERTAS,AIRBAGS,IMAGEN
0,0,Mercedes Benz Clase GLA,200 Automatico,$122.900.000,$3.058.891,22.036 km,2020.0,Secuencial,1.6,Gasolina,Blanco,usado,Bogotá D.C.,NaN,**5 Bogota,NaN,Airbags,https://www.carroya.com/web/images/vehiculos/2...
1,1,Jaguar XE,Prestige 2.0 T,$102.900.000,$2.561.105,15.192 km,2017.0,Secuencial,2.0,Gasolina,Negro,usado,Bogotá D.C.,NaN,**3 Bogota,NaN,Airbags,https://www.carroya.com/web/images/vehiculos/2...
2,2,Volkswagen Tiguan,2.0 Comfortline 4MOTION,$99.900.000,$2.486.438,39.024 km,2018.0,Secuencial,2.0,Gasolina,Otro,usado,Bogotá D.C.,NaN,**6 Bogota,NaN,Airbags,https://www.carroya.com/web/images/vehiculos/2...
3,3,Mitsubishi Outlander,Phev,$105.900.000,$2.635.773,46.690 km,2017.0,Automática,2.0,Híbrido,Gris,usado,Bogotá D.C.,NaN,**8 Bogota,NaN,Airbags,https://www.carroya.com/web/images/vehiculos/2...
4,4,Mercedes Benz Clase CLA,200,$122.900.000,$3.058.891,22.036 km,2020.0,Automática,1.6,Gasolina,Blanco,usado,Bogotá D.C.,NaN,**5 Bogota,NaN,Airbags,https://www.carroya.com/web/images/vehiculos/2...

In [10]:
carroya_df['TIPO DE CAJA'].unique()

array(['Secuencial', 'Automática', 'Mecánica', '0', nan, 'CVT', 'DCT'],
      dtype=object)

In [11]:
tucarro_df['Transmision'].unique()

array(['Mecánica', 'Automática', nan, 'Automática secuencial'],
      dtype=object)

In [12]:
len(carroya_df)

10872

In [13]:
len(tucarro_df)

26829

In [14]:
df = pd.DataFrame()

In [15]:
df['Titulo'] = tucarro_df['Titulo']

In [16]:
len(df)

26829

In [17]:
df['Titlo'] = df['Titulo'].append(carroya_df['NOMBRE'] + ' ' + carroya_df['SUBTITULO'])

0        Vendo - Automovil Antiguo Dodge Desoto 1938 - ...
1                              Jeep Willys Cj 2a 1946 Cj2a
2                                          Jeep Cj3a  Cj3a
3                                        Jeep Willys  Cj3a
4                                                Ford F100
                               ...
10867                                                  NaN
10868                                                  NaN
10869                                                  NaN
10870                                                  NaN
10871                                                  NaN
Length: 37701, dtype: object

In [139]:
carroya_df.assign(Titulo = carroya_df['NOMBRE'].fillna('') + ' ' + carroya_df['SUBTITULO'].fillna(''))

,Unnamed: 0,NOMBRE,SUBTITULO,PRECIO,PRECIO MENSUAL,KILOMETRAJE,ANIO,TIPO DE CAJA,CILINDRAJE,COMBUSTIBLE,...,Modelo,Precio,Transmision,Ano,Tipo de combustible,Kilometros,Img,Color,Puertas,Titulo
0,0,Mercedes Benz Clase GLA,200 Automatico,$122.900.000,$3.058.891,22.036 km,2020.0,Secuencial,1.6,Gasolina,...,Clase GLA,$122.900.000,Secuencial,2020.0,Gasolina,22.036 km,https://www.carroya.com/web/images/vehiculos/2...,Blanco,NaN,Mercedes Benz Clase GLA 200 Automatico
1,1,Jaguar XE,Prestige 2.0 T,$102.900.000,$2.561.105,15.192 km,2017.0,Secuencial,2.0,Gasolina,...,XE,$102.900.000,Secuencial,2017.0,Gasolina,15.192 km,https://www.carroya.com/web/images/vehiculos/2...,Negro,NaN,Jaguar XE Prestige 2.0 T
2,2,Volkswagen Tiguan,2.0 Comfortline 4MOTION,$99.900.000,$2.486.438,39.024 km,2018.0,Secuencial,2.0,Gasolina,...,Tiguan,$99.900.000,Secuencial,2018.0,Gasolina,39.024 km,https://www.carroya.com/web/images/vehiculos/2...,Otro,NaN,Volkswagen Tiguan 2.0 Comfortline 4MOTION
3,3,Mitsubishi Outlander,Phev,$105.900.000,$2.635.773,46.690 km,2017.0,Automática,2.0,Híbrido,...,Outlander,$105.900.000,Automática,2017.0,Híbrido,46.690 km,https://www.carroya.com/web/images/vehiculos/2...,Gris,NaN,Mitsubishi Outlander Phev
4,4,Mercedes Benz Clase CLA,200,$122.900.000,$3.058.891,22.036 km,2020.0,Automática,1.6,Gasolina,...,Clase CLA,$122.900.000,Automática,2020.0,Gasolina,22.036 km,https://www.carroya.com/web/images/vehiculos/2...,Blanco,NaN,Mercedes Benz Clase CLA 200
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10867,10865,Fiat Siena,NaN,$14.000.000,$348.449,16.000 km,2006.0,0,0.0,NaN,...,Siena,$14.000.000,0,2006.0,NaN,16.000 km,/static/media/cy_img_nodisponible@3x.48afd719.jpg,No Disponible,NaN,Fiat Siena
10868,10866,SEAT Ateca,NaN,$74.000.000,$1.841.805,16.000 km,2018.0,0,0.0,NaN,...,Ateca,$74.000.000,0,2018.0,NaN,16.000 km,/static/media/cy_img_nodisponible@3x.48afd719.jpg,No Disponible,NaN,SEAT Ateca
10869,10867,Volkswagen Virtus,NaN,$60.000.000,$1.493.356,16.000 km,2018.0,0,0.0,NaN,...,Virtus,$60.000.000,0,2018.0,NaN,16.000 km,/static/media/cy_img_nodisponible@3x.48afd719.jpg,No Disponible,NaN,Volkswagen Virtus
10870,10868,Ford Focus,NaN,$46.000.000,$1.144.906,16.000 km,2019.0,0,0.0,NaN,...,Focus,$46.000.000,0,2019.0,NaN,16.000 km,/static/media/cy_img_nodisponible@3x.48afd719.jpg,No Disponible,NaN,Ford Focus
10871,10869,Ford Bronco,NaN,$60.000.000,$1.493.356,16.000 km,2020.0,0,0.0,NaN,...,Bronco,$60.000.000,0,2020.0,NaN,16.000 km,/static/media/cy_img_nodisponible@3x.48afd719.jpg,No Disponible,NaN,Ford Bronco

In [123]:
def obtener_marca(data):
    arr = data.split(' ')
    if arr[0] == 'Mercedes':
        return " ".join(arr[:2])
    else:
        return " ".join(arr[:1])
    
def obtener_modelo(data):
    arr = data.split(' ')
    if arr[0] == 'Mercedes':
        return " ".join(arr[2:])
    else:
        return " ".join(arr[1:])
    

carroya_df['Marca'] = carroya_df['NOMBRE'].apply(lambda str : obtener_marca(str))
carroya_df['Modelo'] = carroya_df['NOMBRE'].apply(lambda str : obtener_modelo(str))

In [131]:
tucarro_df.head()

,Titulo,Marca,Modelo,Ano,Color,Tipo de combustible,Puertas,Transmision,Motor,Tipo de carroceria,Kilometros,Img,Precio
0,Vendo - Automovil Antiguo Dodge Desoto 1938 - ...,Dodge,dodge desoto D8,1938.0,NaN,Gasolina,4.0,Mecánica,NaN,Sedán,100000 km,https://http2.mlstatic.com/D_NQ_NP_646157-MCO4...,70.000.000
1,Jeep Willys Cj 2a 1946 Cj2a,Jeep,Willys,1946.0,BEIGE BLANCO,Gasolina,2.0,Mecánica,2200,NaN,100000 km,https://http2.mlstatic.com/D_NQ_NP_719379-MCO4...,40.000.000
2,Jeep Cj3a Cj3a,Willys,willys Cj3a,1950.0,NaN,Gasolina,3.0,Mecánica,NaN,NaN,123 km,https://http2.mlstatic.com/D_NQ_NP_820535-MCO4...,30.000.000
3,Jeep Willys Cj3a,Jeep,Willys,1951.0,NaN,Gasolina,2.0,Mecánica,NaN,NaN,3000 km,https://http2.mlstatic.com/D_NQ_NP_758316-MCO4...,43.000.000
4,Ford F100,Ford,F-100,1952.0,Gris,Gasolina,2.0,Mecánica,1500,Pick-Up,125000 km,https://http2.mlstatic.com/D_NQ_NP_814571-MCO4...,26.000.000

In [127]:
carroya_df.head()

,Unnamed: 0,NOMBRE,SUBTITULO,PRECIO,PRECIO MENSUAL,KILOMETRAJE,ANIO,TIPO DE CAJA,CILINDRAJE,COMBUSTIBLE,COLOR,ESTADO,UBICACIÓN,DIRECCIÓN,PLACA,PUERTAS,AIRBAGS,IMAGEN,Marca,Modelo
0,0,Mercedes Benz Clase GLA,200 Automatico,$122.900.000,$3.058.891,22.036 km,2020.0,Secuencial,1.6,Gasolina,Blanco,usado,Bogotá D.C.,NaN,**5 Bogota,NaN,Airbags,https://www.carroya.com/web/images/vehiculos/2...,Mercedes Benz,Clase GLA
1,1,Jaguar XE,Prestige 2.0 T,$102.900.000,$2.561.105,15.192 km,2017.0,Secuencial,2.0,Gasolina,Negro,usado,Bogotá D.C.,NaN,**3 Bogota,NaN,Airbags,https://www.carroya.com/web/images/vehiculos/2...,Jaguar,XE
2,2,Volkswagen Tiguan,2.0 Comfortline 4MOTION,$99.900.000,$2.486.438,39.024 km,2018.0,Secuencial,2.0,Gasolina,Otro,usado,Bogotá D.C.,NaN,**6 Bogota,NaN,Airbags,https://www.carroya.com/web/images/vehiculos/2...,Volkswagen,Tiguan
3,3,Mitsubishi Outlander,Phev,$105.900.000,$2.635.773,46.690 km,2017.0,Automática,2.0,Híbrido,Gris,usado,Bogotá D.C.,NaN,**8 Bogota,NaN,Airbags,https://www.carroya.com/web/images/vehiculos/2...,Mitsubishi,Outlander
4,4,Mercedes Benz Clase CLA,200,$122.900.000,$3.058.891,22.036 km,2020.0,Automática,1.6,Gasolina,Blanco,usado,Bogotá D.C.,NaN,**5 Bogota,NaN,Airbags,https://www.carroya.com/web/images/vehiculos/2...,Mercedes Benz,Clase CLA

In [145]:
carroya_df = carroya_df.assign(Titulo = carroya_df['NOMBRE'].fillna('') + ' ' + carroya_df['SUBTITULO'].fillna(''))
carroya_df['Precio'] = carroya_df['PRECIO']
carroya_df['Transmision'] = carroya_df['TIPO DE CAJA']
carroya_df['Ano'] = carroya_df['ANIO']
carroya_df['Tipo de combustible'] = carroya_df['COMBUSTIBLE']
carroya_df['Kilometros'] = carroya_df['KILOMETRAJE']
carroya_df['Img'] = carroya_df['IMAGEN']
carroya_df['Color'] = carroya_df['COLOR']
carroya_df['Puertas'] = carroya_df['PUERTAS']

In [146]:
carroya_df.head()

,Unnamed: 0,NOMBRE,SUBTITULO,PRECIO,PRECIO MENSUAL,KILOMETRAJE,ANIO,TIPO DE CAJA,CILINDRAJE,COMBUSTIBLE,...,Modelo,Precio,Transmision,Ano,Tipo de combustible,Kilometros,Img,Color,Puertas,Titulo
0,0,Mercedes Benz Clase GLA,200 Automatico,$122.900.000,$3.058.891,22.036 km,2020.0,Secuencial,1.6,Gasolina,...,Clase GLA,$122.900.000,Secuencial,2020.0,Gasolina,22.036 km,https://www.carroya.com/web/images/vehiculos/2...,Blanco,NaN,Mercedes Benz Clase GLA 200 Automatico
1,1,Jaguar XE,Prestige 2.0 T,$102.900.000,$2.561.105,15.192 km,2017.0,Secuencial,2.0,Gasolina,...,XE,$102.900.000,Secuencial,2017.0,Gasolina,15.192 km,https://www.carroya.com/web/images/vehiculos/2...,Negro,NaN,Jaguar XE Prestige 2.0 T
2,2,Volkswagen Tiguan,2.0 Comfortline 4MOTION,$99.900.000,$2.486.438,39.024 km,2018.0,Secuencial,2.0,Gasolina,...,Tiguan,$99.900.000,Secuencial,2018.0,Gasolina,39.024 km,https://www.carroya.com/web/images/vehiculos/2...,Otro,NaN,Volkswagen Tiguan 2.0 Comfortline 4MOTION
3,3,Mitsubishi Outlander,Phev,$105.900.000,$2.635.773,46.690 km,2017.0,Automática,2.0,Híbrido,...,Outlander,$105.900.000,Automática,2017.0,Híbrido,46.690 km,https://www.carroya.com/web/images/vehiculos/2...,Gris,NaN,Mitsubishi Outlander Phev
4,4,Mercedes Benz Clase CLA,200,$122.900.000,$3.058.891,22.036 km,2020.0,Automática,1.6,Gasolina,...,Clase CLA,$122.900.000,Automática,2020.0,Gasolina,22.036 km,https://www.carroya.com/web/images/vehiculos/2...,Blanco,NaN,Mercedes Benz Clase CLA 200

In [154]:
carroya_df = carroya_df.drop(['PRECIO', 'PRECIO MENSUAL', 'NOMBRE', 'SUBTITULO', 
                 'KILOMETRAJE', 'ANIO', 'TIPO DE CAJA', 'CILINDRAJE',
                'COMBUSTIBLE', 'COLOR', 'ESTADO', 'UBICACIÓN', 'DIRECCIÓN',
                'PLACA', 'PUERTAS', 'AIRBAGS', 'IMAGEN'], axis=1)

In [155]:
df = tucarro_df.append(carroya_df)

In [156]:
df

,Titulo,Marca,Modelo,Ano,Color,Tipo de combustible,Puertas,Transmision,Motor,Tipo de carroceria,Kilometros,Img,Precio,Unnamed: 0
0,Vendo - Automovil Antiguo Dodge Desoto 1938 - ...,Dodge,dodge desoto D8,1938.0,NaN,Gasolina,4.0,Mecánica,NaN,Sedán,100000 km,https://http2.mlstatic.com/D_NQ_NP_646157-MCO4...,70.000.000,NaN
1,Jeep Willys Cj 2a 1946 Cj2a,Jeep,Willys,1946.0,BEIGE BLANCO,Gasolina,2.0,Mecánica,2200,NaN,100000 km,https://http2.mlstatic.com/D_NQ_NP_719379-MCO4...,40.000.000,NaN
2,Jeep Cj3a Cj3a,Willys,willys Cj3a,1950.0,NaN,Gasolina,3.0,Mecánica,NaN,NaN,123 km,https://http2.mlstatic.com/D_NQ_NP_820535-MCO4...,30.000.000,NaN
3,Jeep Willys Cj3a,Jeep,Willys,1951.0,NaN,Gasolina,2.0,Mecánica,NaN,NaN,3000 km,https://http2.mlstatic.com/D_NQ_NP_758316-MCO4...,43.000.000,NaN
4,Ford F100,Ford,F-100,1952.0,Gris,Gasolina,2.0,Mecánica,1500,Pick-Up,125000 km,https://http2.mlstatic.com/D_NQ_NP_814571-MCO4...,26.000.000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10867,Fiat Siena,Fiat,Siena,2006.0,No Disponible,NaN,NaN,0,NaN,NaN,16.000 km,/static/media/cy_img_nodisponible@3x.48afd719.jpg,$14.000.000,10865
10868,SEAT Ateca,SEAT,Ateca,2018.0,No Disponible,NaN,NaN,0,NaN,NaN,16.000 km,/static/media/cy_img_nodisponible@3x.48afd719.jpg,$74.000.000,10866
10869,Volkswagen Virtus,Volkswagen,Virtus,2018.0,No Disponible,NaN,NaN,0,NaN,NaN,16.000 km,/static/media/cy_img_nodisponible@3x.48afd719.jpg,$60.000.000,10867
10870,Ford Focus,Ford,Focus,2019.0,No Disponible,NaN,NaN,0,NaN,NaN,16.000 km,/static/media/cy_img_nodisponible@3x.48afd719.jpg,$46.000.000,10868
10871,Ford Bronco,Ford,Bronco,2020.0,No Disponible,NaN,NaN,0,NaN,NaN,16.000 km,/static/media/cy_img_nodisponible@3x.48afd719.jpg,$60.000.000,10869

In [158]:
df.to_csv('full_dataV1.csv', sep=',')

In [170]:
df['Kilometros'] = df['Kilometros'].astype(str)
df['Kilometros'] = df['Kilometros'].apply(lambda str : str.replace(' km', '').replace('.', ''))

df['Precio'] = df['Precio'].astype(str)
df['Precio'] = df['Precio'].apply(lambda str : str.replace('$', '').replace('.', ''))

In [171]:
df.head()

,Titulo,Marca,Modelo,Ano,Color,Tipo de combustible,Puertas,Transmision,Motor,Tipo de carroceria,Kilometros,Img,Precio,Unnamed: 0
0,Vendo - Automovil Antiguo Dodge Desoto 1938 - ...,Dodge,dodge desoto D8,1938.0,NaN,Gasolina,4.0,Mecánica,NaN,Sedán,100000,https://http2.mlstatic.com/D_NQ_NP_646157-MCO4...,70000000,NaN
1,Jeep Willys Cj 2a 1946 Cj2a,Jeep,Willys,1946.0,BEIGE BLANCO,Gasolina,2.0,Mecánica,2200,NaN,100000,https://http2.mlstatic.com/D_NQ_NP_719379-MCO4...,40000000,NaN
2,Jeep Cj3a Cj3a,Willys,willys Cj3a,1950.0,NaN,Gasolina,3.0,Mecánica,NaN,NaN,123,https://http2.mlstatic.com/D_NQ_NP_820535-MCO4...,30000000,NaN
3,Jeep Willys Cj3a,Jeep,Willys,1951.0,NaN,Gasolina,2.0,Mecánica,NaN,NaN,3000,https://http2.mlstatic.com/D_NQ_NP_758316-MCO4...,43000000,NaN
4,Ford F100,Ford,F-100,1952.0,Gris,Gasolina,2.0,Mecánica,1500,Pick-Up,125000,https://http2.mlstatic.com/D_NQ_NP_814571-MCO4...,26000000,NaN

In [172]:
df.to_csv('full_data.csv', sep=',')